# Never commit credentials
secrets.auto.tfvars
*.auto.tfvars

# Terraform local files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
tfplan*
